
.categories {
  display: flex;
  position: absolute;
  top: 75vh;
  left: 0;
  width: 100%;
  justify-content: space-between;
}


.search {
  width: 1150px;
  padding-top: 285px;
  text-align: center;
  margin: 0 auto;
}

.search__form {
  width: 800px;
  margin: 0 auto;
}

.tag {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explore {
  background-color: #e8eaef;
  background-image: url(../images/bg-sandomierz.png);
  background-position: right;
  background-repeat: no-repeat;
}

.article {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0px;
}

.article__body {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.article__text {
  text-align: left;
  width: 550px;
}

.article__title {
  color: #f8c759;
  font-size: 36px;
  font-weight: 700;
}
.article__desc {
  font-size: 14px;
  color: #606f81;
  line-height: 30px;
  margin-bottom: 40px;
}

.article__outline img {
  z-index: 2;
  position: absolute;
  top: -40px;
  left: -40px;
}

.article__outline {
  border: 15px solid #f8c759;
  width: 570px;
  height: 555px;
  z-index: 2;
  position: relative;
}

.sign-up {
  background-image: url(../images/enjoy-your-journey.png);
  background-position: center;
  background-size: cover;
  height: 642px;
  text-align: center;
}

.sign-up__body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 642px;
}

.sign-up__body h1 {
  margin-bottom: 30px;
}

.sign-up__body__tagline {
  color: #fff;
  margin-top: 45px;
}

.sign-up__body__tagline--link {
  color: #f8c759;
  text-decoration: underline;
}

